body {
    font-family: 'Quicksand', sans-serif;
    background-color: #010ca3;
    margin: 0;
}
.container {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    right: 0; 
    background-color: #010ca3;
    padding: 10px;
    z-index: 1;
    border-radius: 10px;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu li {
    display: inline;
    margin-right: 10px;
}
.menu ul li a:hover {
    color: #5059e0; 
    
}

.menu a {
    color: #fff;
    text-decoration: none;
}
header {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #00d9ff;
    background-color: #070157d5;
    border-radius: 1em;
    padding: 1em;
}

header .heading {
    margin-bottom: 0;
    font-size: 4em;
}
.sobreTexto,.fimsvg{
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
    
}

header .subheading {
    margin-top: 0;
    font-size: 2em;
}

.fa::before {
    background-color: #010136;
    padding: 8px 10px;
    border-radius: 99em;
}

.fa {
    
    font-size: 2.5em;
    margin: 50px 5px;
}

a .fa {
    color: white;
}
a .fa:hover {
    color: #d6d6d6;
}

a .fa-instagram {
    color: #1A91DA;
}

a .fa-instagram:hover {
    color: #197bb8;
}

@media screen and (min-width: 1000px) {
    header .heading {
        margin-bottom: 0;
        font-size:6em;
    }

    header .subheading {
        margin-top: 0;
        font-size: 3em;
    }
}
